@use "../../../assets/styles/variables.scss" as *;

.cs-form-item {
  margin-bottom: 15px;

  .ant-form-item-label {
    font-family: "Inter";
    padding: 0 !important;
  }
  .ant-form-item-explain-error {
    text-align: left;
  }
}

.cs-button {
  border: $colorPrimary;

  &:hover,
  &:focus,
  &:active,
  &:focus-visible {
    outline: none;
    border: $colorPrimary !important;
  }
}

.cs-layout-loader {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  padding: 3rem;
}

.cs-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.cs-select {
}

.cs-upload {
  .ant-upload-list-item {
    width: 8rem;
    font-weight: 400;
  }
}

.cs-input {
}

.cs-back-navigator {
  span {
    color: $colorTextSecondary;
    cursor: pointer;
    padding-inline: 5;
    margin: 0.5rem 0 0.5rem 0;
    margin-right: 5px;
  }
}

.cs-segmented .ant-segmented-item {
  transition: none; // color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 2px;
  transform: none;
  // :hover {
  //   background-color: $colorPrimary !important;
  //   color: whitesmoke !important;
  // }
}
.ant-segmented-item-selected {
  background-color: $colorPrimaryActive !important;
  color: whitesmoke !important;
}
