@use "../../../assets/styles/variables.scss" as *;

.main-layout {
  height: 100vh;
  width: 100%;

  .layout-header {
    // background-color: $colorPrimary;
    background-color: #ffffff;
    box-shadow: 0 2px 7px;
    height: 56px;

    .ant-row {
      display: flex;
      justify-content: space-between;

      .ant-menu {
        line-height: 4;
        height: max-content;
        justify-content: flex-end;
      }

      .nav-header {
        // display: flex;
        // justify-content: flex-end;
      }
    }
  }

  .layout-sidebar {
    padding: 0;
    height: Calc(100vh - 64px);
  }

  .ant-menu-light {
    background-color: #ffffff;
  }

  .outlet-cont {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    padding-inline: 1rem;

    .ant-row {
      margin: 1rem 2rem;
    }

    .content-header {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 1rem;

      .ant-breadcrumb {
        margin-bottom: 0;
      }
    }

    .content-col {
      height: calc(100vh - 134px);
      overflow-y: auto;
      background-color: #fff;
      box-shadow: 0 0 10px #e9e9e9;
      padding: 1rem;
      border-radius: 3px;
    }
  }
}
