@use "../../../assets/styles/variables.scss" as *;

.cs-form-sliding-list {
  background-color: #fff;
  width: 170px;
  max-width: 300px;
  transition: width 0.15s ease-in-out;
  border-radius: $borderRadius;
  // padding-inline: 1rem;

  ::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
  }
  ::-webkit-scrollbar-track {
    background: #f0f0f0; /* Background of the scrollbar track */
  }
  ::-webkit-scrollbar-thumb {
    background: #b6b6b6b9; /* Scrollbar thumb color */
    border-radius: 5px; /* Rounded corners */
  }
  ::-webkit-scrollbar-thumb:hover {
    background: $colorPrimaryActive; /* Darker thumb color on hover */
  }

  &.collapsed {
    width: 50px;
    .menu-prefix {
      text-align: center;
    }
    .menu-text {
      display: none;
    }
  }

  .menu-header {
    display: flex;
    justify-content: flex-start;
    margin: 10px;

    h4 {
      color: black;
      margin: 0 10px 0 10px;
    }

    .toggle-button {
      background-color: $colorPrimary;
      color: white;
      border: none;
      border-radius: $borderRadius;
      cursor: pointer;
      font-size: 14px;
      transition: background-color 0.1s;

      &:hover {
        background-color: $colorPrimary, 10%;
      }

      &:active {
        background-color: $colorPrimary, 15%;
      }
    }
  }

  .menu-list {
    list-style-type: none;
    padding: 0;
    overflow-y: auto;
    max-height: Calc(100vh - 16rem);
    margin: 0px 0 16px 0;

    .menu-item {
      display: flex;
      position: relative;
      align-items: start;
      font-size: 16px;
      color: $colorText;
      padding: 12px 0;
      cursor: pointer;
      transition: color 0.1s;

      &.active-item,
      &:hover {
        font-weight: 400;
        color: $colorPrimary;
        background-color: $colorBgLayout;
      }

      .menu-prefix {
        padding-right: 10px;
        font-weight: bold;
        font-size: 14px;
        width: 25px;
        padding-inline: 5px;
        // position: absolute;
      }

      .menu-text {
        vertical-align: middle;
        font-size: 12px;
        margin-top: 2px;
        // padding: 0 28px 0 10px;
      }
    }
  }
}

.cs-breadcrumb {
  margin-bottom: 1rem;
}

.cs-table-form {
  display: flex;
  flex-direction: column;
  color: $colorPrimary;

  .searchbar {
    display: flex;
    justify-content: space-between;
  }

  .table-footer {
    margin: 0;
    font-weight: 500;
  }

  .new-job-table {
    .ant-table-container {
      overflow-x: auto;
    }
  }
}

.cs-form-section-detail {
  margin-bottom: 10px;

  .form-detail-field-cont {
    display: flex;
    gap: 16px;
  }

  .ant-row {
    margin: 0 !important;
  }
  .form-section-box {
    border: 1px solid #e1dfdd;
    border-radius: 2px;
    padding: 1rem;
    margin: 1rem 0;
    position: relative;

    .ant-table-footer {
      .ant-form-item {
        margin-bottom: 0;
      }
    }

    .section-delete-btn {
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      cursor: pointer;
    }
  }
}

.cs-form-field-detail {
  .list-item-cont {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 3px 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 1px solid rgb(221, 221, 221);

    .field-list-item {
      display: flex;
      align-items: center;
      padding: 3px 5px;
      flex-wrap: wrap;
      gap: 10px;
      width: 100%;

      .ant-form-item {
        margin-bottom: 0;
      }

      .ant-select-show-search {
        .ant-select-selector {
          display: flex;
          flex-wrap: wrap;
          max-width: 10rem;
        }
      }
    }

    .delete-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: tomato;
      color: white;
      padding-inline: 5px;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }

  .form-fields-row {
    .ant-form-item {
      margin-bottom: 0;
    }
  }

  .ant-row {
    margin: 0 !important;
  }
}

.cs-dynamic-fields-renderer {
  display: flex;
  flex-direction: column;
  flex: 1;

  h3 {
    color: white;
    background-color: $colorPrimaryActive;
    padding: 5px 0.5rem;
  }

  .ant-form {
    width: 100%;

    .ant-row {
      margin: 0;
    }

    .option-bar {
      display: flex;
      align-items: flex-start;
      gap: 1rem;
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
    }
  }

  .cs-form-item {
    margin-bottom: 0;
  }

  .ant-drawer {
    overflow-x: hidden;
  }

  .ant-upload-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  .ant-upload-wrapper {
    width: 100%;

    .ant-upload-btn {
      padding: 4px;

      p {
        margin: 0;
      }
    }
  }
  .cs-rating-list {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
  }

  .links {
    box-shadow: 0 0 6px rgb(224, 224, 224);
    border-radius: 2px;
    padding: 3px 20px;
    color: $colorPrimary;
  }

  .reference-preview {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 5px 0;
    margin: 0 0 5px;

    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .item-sentence {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border: 1px solid $colorPrimary;
        padding: 5px;
        border-right: none;
        width: 100%;
      }
    }

    .final-sentence {
      .cs-button {
        margin: 10px 0;
      }
    }
  }
}

.cs-floor-plan {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  .controls {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
  }
}

.cs-form-detail {
  .main-cont {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 10px;

    .ant-row {
      margin: 0;
    }
  }
}

.cs-reference-sidebar {
  display: flex;
  justify-content: flex-start;

  .category-list {
    height: fit-content;
  }

  .reference-list {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;

    .ant-checkbox-wrapper {
      margin: 0.5rem 0;
    }
  }

  .preview {
    display: flex;
    flex-direction: column;
    height: Calc(-25rem + 100vh);
    overflow-y: auto;
    width: 100%;
    gap: 10px;
    padding: 5px;

    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .item-sentence {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border: 1px solid $colorPrimary;
        padding: 5px;
        border-right: none;
        width: 100%;
      }

      .delete {
        height: 100%;
        width: 2.5rem;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        overflow: hidden;
        border: 1px solid tomato;

        .cs-button {
          height: 100%;
          width: 100%;
          box-shadow: none;
          background-color: tomato;
          border-radius: 0;
          span {
            color: white;
            font-size: 18px;
          }
        }
      }
    }

    .final-sentence {
      .cs-button {
        margin: 10px 0;
      }
    }
  }
}

.field-inner {
  .ant-popover-inner {
    padding: 0 5px !important;
  }
}

.cs-form-field-identifier {
  .crud-btn {
    font-size: 14px;
    font-weight: 600;
  }
}

.cs-form-field-identifier-drawer {
  .submit-button {
    display: flex;
    width: 100%;
    justify-content: flex-start;
  }

  .list-table {
    margin: 15px 0;
  }
}

.cs-form-section-menu {
  max-width: 280px;

  .ant-menu-root {
    border-inline-end: none !important;

    .ant-menu-submenu {
      .ant-menu-submenu-title {
        padding-left: 5px !important;
        padding-right: 33px !important;

        .ant-menu-submenu-arrow {
          padding-inline: 5px !important;
        }
      }

      .ant-menu-sub {
        .ant-menu-item {
          padding-left: 15px !important;
          padding-right: 10px !important;
        }
      }
    }
  }
}

.cs-category-reference-list {
  max-height: calc(100vh - 19rem);
  overflow-y: auto;

  .ant-menu-root {
    border-inline-end: none !important;
  }
}
