@use "../../../assets/styles/variables.scss" as *;

.cs-form-sliding-list {
  background-color: #fff;
  width: 150px;
  max-width: 300px;
  transition: width 0.15s ease-in-out;
  border-radius: $borderRadius;
  // padding-inline: 1rem;

  &.collapsed {
    width: 50px;
    .menu-prefix {
      text-align: center;
    }
    .menu-text {
      display: none;
    }
  }

  .menu-header {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
    margin-bottom: 10px;

    h4 {
      color: black;
      margin: 0 10px 0 10px;
    }

    .toggle-button {
      background-color: $colorPrimary;
      color: white;
      border: none;
      border-radius: $borderRadius;
      // padding: 8px 12px;
      cursor: pointer;
      font-size: 14px;
      // box-shadow: $boxShadow;
      transition: background-color 0.1s;

      &:hover {
        background-color: $colorPrimary, 10%;
      }

      &:active {
        background-color: $colorPrimary, 15%;
      }
    }
  }

  .menu-list {
    list-style-type: none;
    padding: 0;
    overflow-y: auto;
    height: Calc(100vh - 16rem);
    margin: 0px 0 16px 0;

    .menu-item {
      display: flex;
      align-items: start;
      font-size: 16px;
      color: $colorText;
      padding: 12px 0;
      cursor: pointer;
      transition: color 0.1s;

      &.active-item,
      &:hover {
        font-weight: 400;
        color: $colorPrimary;
        background-color: $colorBgLayout;
      }

      .menu-prefix {
        margin-right: 8px;
        font-weight: bold;
        font-size: 14px;
        width: 30px;
        padding-inline: 5px;
      }

      .menu-text {
        vertical-align: middle;
        font-size: 12px;
        margin-top: 2px;
      }
    }
  }
}

.cs-breadcrumb {
  margin-bottom: 1rem;
}

.cs-table-form {
  display: flex;
  flex-direction: column;
  color: $colorPrimary;

  .searchbar {
    display: flex;
    justify-content: space-between;
  }

  .table-footer {
    margin: 0;
    font-weight: 500;
  }
}

.cs-form-section-detail {
  margin-bottom: 10px;

  .form-detail-field-cont {
    display: flex;
    gap: 16px;
  }

  .ant-row {
    margin: 0 !important;
  }
  .form-section-box {
    border: 1px solid #e1dfdd;
    border-radius: 2px;
    padding: 1rem;
    margin: 1rem 0;
    position: relative;

    .ant-table-footer {
      .ant-form-item {
        margin-bottom: 0;
      }
    }

    .section-delete-btn {
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      cursor: pointer;
    }
  }
}

.cs-form-field-detail {
  .field-list-item {
    display: flex;
    gap: 16px;
    // flex-wrap: wrap;
    overflow-x: auto;

    .ant-form-item {
      margin-bottom: 5px;
    }
  }

  .form-fields-row {
    .ant-form-item {
      margin-bottom: 0;
    }
  }

  .ant-row {
    margin: 0 !important;
  }
}

.cs-dynamic-fields-renderer {
  height: calc(100vh - 14rem);

  h3 {
    color: white;
    background-color: $colorPrimaryActive;
    padding: 5px 0.5rem;
  }

  .ant-form {
    width: 100%;

    .ant-row {
      margin: 0;
    }

    .option-bar {
      display: flex;
      align-items: flex-start;
      gap: 1rem;
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
    }
  }

  .cs-form-item {
    margin-bottom: 0;
  }

  .ant-drawer {
    overflow-x: hidden;
  }

  .ant-upload-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  .ant-upload-wrapper {
    width: 100%;

    .ant-upload-btn {
      padding: 4px;

      p {
        margin: 0;
      }
    }
  }
  .cs-rating-list {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
  }
}

.cs-floor-plan {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  .controls {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
  }
}

.cs-form-detail {
  .ant-row {
    margin: 0;
  }
}

.cs-reference-sidebar {
  display: flex;
  justify-content: flex-start;

  .category-list {
  }

  .reference-list {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;

    .ant-checkbox-wrapper {
      margin: 0.5rem 0;
    }
  }

  .preview {
    height: Calc(-25rem + 100vh);
    overflow-y: auto;
    width: 100%;

    .item {
      padding: 0.5rem 0;

      .delete {
        color: tomato;
        width: 20px;
      }
    }
  }
}
