@use "../../../assets/styles/variables.scss" as *;

.new-job-cont {
  background-color: #fff;
  padding: 0;

  .flex-cont {
    display: flex;
    justify-content: flex-start;
    // border-bottom: 1px solid $colorPrimary;
    margin-bottom: 2px;
    max-height: Calc(100vh - 13rem);

    .first-list,
    .second-list,
    .content-section {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      padding-inline: 1rem;
    }
    .content-section {
      flex-grow: 1;
      overflow-y: auto;
    }
    .first-list,
    .second-list {
      border-right: 1px solid lightgray;
      padding: 2px;
    }
  }

  .job-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
  }
}

.floor-plan {
  .ant-modal-header {
    background-color: #fff !important;
  }
}
