@use "../../../assets/styles/variables.scss" as *;

.new-job-cont {
  background-color: #fff;
  padding: 0 1rem 1rem 1rem;

  .flex-cont {
    display: flex;
    justify-content: flex-start;
    min-height: 70vh;
    flex-wrap: wrap;

    .first-list,
    .second-list,
    .content-section {
      display: flex;
      flex-direction: column;
      background-color: #fff;
    }

    .content-section {
      flex: 1;
    }
  }
}
