@use "../../../assets/styles/variables.scss" as *;

.new-job-cont {
  background-color: #fff;
  padding: 0;
  display: flex;
  height: 100%;

  .first-list {
    background-color: #fff;
    overflow-y: auto;
    max-height: Calc(100vh - 10.4rem);
  }

  .flex-cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;

    .content-section {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      padding-inline: 0.3rem;
      flex-grow: 1;
    }

    .first-list,
    .second-list {
      border-right: 1px solid lightgray;
      padding: 2px;
    }
  }

  .job-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 6px;
    background-color: rgba(193, 180, 129, 0.2745098039);
    padding: 0px 20px;
    border-radius: 15px;
    width: Calc(100% - 20px);
    margin: 5px 0 0 10px;
  }
}

.floor-plan {
  .ant-modal-header {
    background-color: #fff !important;
  }
}
